* {
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 46px;
    color: rgb(7, 18, 53);
}

.textarea {
    margin: 0 auto;
    display: block;
    width: 1000px;

    height: 100px;
    border: 2px solid rgb(177, 176, 176);
    border-radius: 5px;
    scroll-behavior: auto;
    user-select: none;
}

.keyboard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 15px auto;
    padding: 10px;
    width: 80%;

    background-color: rgb(7, 18, 53);
    border-radius: 5px;
    user-select: none;
}

.keyboard-line {
    display: flex;
    flex-direction: row;
}

.key {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid rgb(7, 18, 53);
    border-radius: 5px;
    text-align: center;
    color: rgb(7, 18, 53);
    cursor: pointer;

    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(7, 18, 53);

    position: relative;
}

.key-active {
    background-color: rgba(7, 18, 53, 0.212);
}

.key-active:after { /*SHIFT, CAPS, ALT*/
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(61, 255, 61);
}

.key:hover {
    background-color: rgba(236, 238, 244, 0.475);
}

.key-wide {
    width: 100px;
}

.key-space-bar {
    width: 250px;
    background: #ffffff url('./assets/icons/space-bar.svg') no-repeat center;
}

.key-shift {
    background: #ffffff url('./assets/icons/shift.svg') no-repeat center;
    background-size: 20px 20px;
}

.key-caps {
    background: #ffffff url('./assets/icons/capslock.svg') no-repeat center;
}

.key-backspace {
    background: #ffffff url('./assets/icons/backspace.svg') no-repeat center;
}

.key-tab {
    background: #ffffff url('./assets/icons/keyboard-tab.svg') no-repeat center;
}

.key-up {
    background: #ffffff url('./assets/icons/caret-up.svg') no-repeat center;
}

.key-down {
    background: #ffffff url('./assets/icons/caret-down.svg') no-repeat center;
}

.key-right {
    background: #ffffff url('./assets/icons/caret-right.svg') no-repeat center;
}

.key-left {
    background: #ffffff url('./assets/icons/caret-left.svg') no-repeat center;
}

.key-enter {
    background: #ffffff url('./assets/icons/arrow-return-left.svg') no-repeat center;
}

.push {
    border-radius: 50%;
    border: 1px solid rgb(7, 18, 53);
    background-color: rgba(236, 238, 244, 0.475);
}